/* Début Rodrigue */

.input-group{
	margin-left: 15px;
	width: 150px;
}
.input-group-button{
	width: 155px;
	height: auto;
}
.grid-x{
	width: 850px;
	height: auto;
}
.trajet{
	font-size: 20px;

}
.petit{
	font-size: 15px;
	margin-right: 20px;
	margin-left: 15px;
}
.bouton{
	width: 190px;
}
.plus{
	width: 45px;
	height: auto;
}
.grid-container{
	width: 150px;
	height: auto;
}
/*Fin Rodrigue*/

/* Anthony */
.billets
{
	color: grey;
	text-align: center;
	width: 500px;
	margin: auto;
	text-align: center;
	width: 500px;
	margin: auto;
	margin-top: 80px;
	margin-top: 60px;
}

.logo
{
	margin: auto;
	width: 600px;
	width: 700px;
}

.logo1
.baspage
{
	background: white;
}
}

.logo img
{
	width: 100px;
	height: 80px;
}

.hbillet
{
	font-size: 20pt;
}

/*Anthony */
